{% extends "index.html" %}
 {% block content %}
 <h3>Add Recipe</h3>
 <!--Taken from: https://getbootstrap.com/docs/4.4/components/forms/-->
 <form method="POST" action="{{ url_for('add_recipe') }}" class="container-fluid">
   <div class="form-group row">
        <div class="col-md-12">
            <label for="exampleFormControlInput1">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Sheppard's Bush">
        </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
        <label for="exampleFormControlInput2">Nationality</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" name="nationality" placeholder="Pig">
    </div>
  </div>
  <div class="form-group ingredients">
    <div class="row">  
        <div class="col-md-6">
            <label for="exampleFormControlSelect3">Ingredients</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" name="ingredients" placeholder="Kosovan">
        </div>
        <div class="col-md-6" id="top-level-secondary-ingredient-buttons"> 
            <input type="button" class="btn btn-primary next-ingredient" value="Next Ingredient">
            <input type="button" class="btn btn-primary edit" value="Edit">
            <input type="button" class="btn btn-primary" value="Delete" id="delete">
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect5">Method</label>
    <input type="text" class="form-control" id="exampleFormControlInput5" name="method" placeholder="triple-cooked egg white">
  </div>
  <label for="exampleFormControlSelect6">Description</label>
    <input type="text" class="form-control" id="exampleFormControlInput6" name="description" placeholder="Delicious smokey flavour coupled with...">
  <label for="exampleFormControlSelect6">Cook Time</label>
    <input type="number" class="form-control" id="exampleFormControlInput7" name="cook-time" placeholder="6">
    <input class="btn btn-primary" type="submit" value="Add Recipe">
</form>
 {% endblock %}
 