{% extends "index.html" %}
 {% block content %}
 <h3 id="add h3 title" style="display: inline;"></h3>
 <!--Basic structure taken from: https://getbootstrap.com/docs/4.4/components/forms/-->
 <div class="padding-top-bottom-50">
        <div class="card add-edit-card margin-top-bottom-50 no-border-responsive">
            <div class="card-body white-background">
                <form method="POST" action="{{ url_for('add_recipe') }}" class="form-margin">
                    <div class="name-nationality">   
                        <div class="form-group padding-bottom-10px">
                                <div>
                                    <label for="exampleFormControlInput1" id="name-label" class="padding-bottom-10px">Name</label>
                                    <input type="text" class="form-control padding-bottom-10px" id="exampleFormControlInput1" name="name" placeholder="Sheppard's Bush" style="display: block;">
                                </div>
                        </div>
                        <div class="form-group padding-bottom-10px">
                            <div>
                                <label for="exampleFormControlInput2" class="padding-bottom-10px">Nationality</label>
                                <input type="text" class="form-control padding-bottom-10px" id="exampleFormControlInput2" name="nationality" placeholder="Pig">
                            </div>
                        </div>
                    </div> 
                    <div class="form-group ingredients margins-auto ingredients-input">
                        <div class="padding-bottom-10px">
                            <div class="mx-auto padding-bottom-10px">  
                                <label for="exampleFormControlSelect3" style="display: block;">Ingredients</label>
                            </div>
                            <span style="width: 30px;" class="inline-block">1.</span>
                            <span class="mx-auto inline-block input-box-ingredients">
                                <div></div>
                                <div></div>
                                <input type="text" class="form-control" name="ingredients" placeholder="Kosovan"> 
                            </span>
                            <span class="top-level-secondary-ingredient-buttons" style="width: 50%;">
                                <i type="button" class="btn btn-primary edit green-dark-background far fa-edit form-buttons"></i>
                                <i type="button" class="fas fa-check btn btn-primary done green-dark-background form-buttons"></i>
                            </span>
                        </div>
                    </div>
                    <div class="ingredients-input">
                        <div>
                            <input type="button" class="mx-auto btn btn-primary next-ingredient green-dark-background main-button-add-edit-recipe form-buttons" value="Next Ingredient">
                        </div>
                    </div>
                    <div class="form-group steps margins-auto ingredients-input">
                        <div class="padding-bottom-10px">
                            <div class="mx-auto">  
                                <label for="exampleFormControlSelect3" style="display: block;">Method</label>
                            </div>
                            <span style="width: 70px;" class="inline-block ">Step 1:</span>
                            <span class="mx-auto inline-block input-box-method">
                                <div></div>
                                <div></div>
                                <input type="text" class="form-control" name="steps" placeholder="Kosovan"> 
                            </span>
                            <span class="top-level-secondary-ingredient-buttons" style="width: 50%;">
                                <i type="button" class="btn btn-primary edit-method green-dark-background far fa-edit form-buttons"></i>
                                <i type="button" class="fas fa-check btn btn-primary done-method green-dark-background form-buttons"></i>
                            </span>
                        </div>
                    </div>
                    <div class="method-input">
                        <div>
                                <input type="button" class="mx-auto btn btn-primary next-step green-dark-background main-button-add-edit-recipe form-buttons" value="Next Ingredient">
                        </div>
                    </div>
                    <div style="width: 80%;" class="margins-auto">
                        <label for="exampleFormControlSxelect6">Description</label>
                        <textarea type="text" class="form-control" id="exampleFormControlInput6" name="description" placeholder="Delicious smokey flavour coupled with..." rows="6" cols="40"></textarea>
                    </div>
                    <div style="width: 80%;" class="margins-auto">
                        <label for="exampleFormControlSelect6">Cook Time (in hours)</label>
                        <input type="number" class="form-control" id="exampleFormControlInput7" name="time" placeholder="6">
                    </div>
                    <input type="text" class="form-control" name="liked_by" value="be the first to like this!" hidden>
                    <div style="width: 80%;" class="margins-auto">
                        <input class="btn btn-primary green-dark-background mx-auto main-button-add-edit-recipe form-buttons" type="submit" value="Add Recipe">
                    </div>
                </form>
            </div>
        </div>
</div>
 {% endblock %}
 