<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>RecipesWithFriends</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    </head>
    <body>
        <header>
            <!-- Responsive navbar including links and search function inspired by https://getbootstrap.com/docs/5.0/examples/-->
            <nav class="navbar-light green-dark-background">
                <div class="container px-4 px-lg-5 navbar-padding">
                    <button id="burger" class="dissappear-burger navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse" id="navbarSupportedContent" style="width: 100% !important;">
                        <!--Navlinks that collapse into a 'burger' toggle on smaller screen sizes-->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 list-element-nav">
                            <li class="nav-item list-element-nav" style="padding: 0px;"><a class="indigo-dark-text my-nav-links" href="{{ url_for('get_recipes') }}" id="home">Home</a></li>
                            {% if session.user %}
                                <li class="nav-item list-element-nav"><a class="my-nav-links indigo-dark-text" aria-current="page" href="{{ url_for('profile', username=session['user']) }}">User Page</a></li>
                                <li class="nav-item list-element-nav"><a class="my-nav-links indigo-dark-text" aria-current="page" href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                                <li class="nav-item list-element-nav"><a class="my-nav-links indigo-dark-text" aria-current="page" href="{{ url_for('logout') }}">Logout</a></li>
                            {% else %}
                                <li class="nav-item list-element-nav"><a class="my-nav-links indigo-dark-text" aria-current="page" href="{{ url_for('register') }}">Register</a></li>
                                <li class="nav-item list-element-nav"><a class="my-nav-links indigo-dark-text" aria-current="page" href="{{ url_for('login') }}">Login</a></li>
                            {% endif %}
                        </ul>
                        <!--Serach function-->
                        <form action="{{ url_for('search') }}" method="POST" class="list-element-nav" id="search-form">
                            <input id="search-input" type="text" name="query" id="query" minlength="3" class="validate" required>
                            <input type="submit" class="indigo-dark-background btn btn-primary dark-indigo-border indigo-dark-background search-bar" value="Search">
                        </form>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <div style="height: 400px; width: 100%;">
                <div class="hero-container">
                    <img src="../static/images/tomatoes-cropped.jpg" alt="" class="hero-image">
                    <div class="centered text-center">
                        <h1 class="display-4 fw-bolder white-text">{{title}}</h1>
                        <p class="lead mb-0 white-text">{{subtitle}}</p>
                        <a id="home-button" type="button" class="mx-auto btn btn-primary dark-green-border green-dark-background margin-top-15px" {{hidden_or_not}} href="{{ url_for('get_recipes') }}">return home</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Section this is where other html templates are 'injected'.-->
        <section class="green-dark-background">
        {% block content %}
        {% endblock %}
        </section>
        <!-- Footer containing contact info, media links and copyright information.-->
        <footer class="indigo-dark-background">
            <div class="container" id="footer-padding">
                <div class="row">
                    <p class="col-sm-12 col-md-6 col-lg-4 text-center margin-auto margin-bottom white-text"><em><strong>Contact</strong></em><br>If you would like to contact Jonasitoelprogramador to give feedback or for any other reason, please contact him <a href="mailto:Jonasitoelprogramdor@journeyman.com" target="_blank" rel="noopener noreferrer" class="here-style here" aria-label="opens email platform with email addressed to Jonasitoelprogramdor@journeyman.com">here</a>.</p>
                    <ul class="media-links no-padding col-sm-12 col-md-6 col-lg-4 text-center margin-bottom margin-top media-links">
                        <!--facebook-->
                        <li class="inline-block"><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square white-text my-media-links" aria-label="opens new tab to facebook"></i></a>
                        </li>
                        <!--instagram-->
                        <li class="inline-block"><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram white-text my-media-links" aria-label="opens new tab to instagram"></i></a>
                        </li>
                        <!--twitter-->
                        <li class="inline-block"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square white-text my-media-links" aria-label="opens new tab to twitter"></i></a>
                        </li>
                        <!--youtube-->
                        <li class="inline-block"><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube-square white-text my-media-links" aria-label="opens new tab to youtube"></i></a>
                        </li>
                    </ul>
                    <p class="col-sm-12 col-md-12 col-lg-4 text-center margin-auto margin-bottom white-text"><em><strong>Copyright &copy; RecipesWithFriends</strong></em><br>If you would like more information regarding Jonasito's copyright policy please contact him directly.</p>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <!--script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script-->
        <!-- Core theme JS-->
        <script src="/static/js/scripts2.js"></script>
    </body>
</html>
