{% extends "index.html" %}
 {% block content %}
 <!--Inspired by bootstrap cards: https://getbootstrap.com/docs/4.0/components/card/-->
<div class="container">
    <div class="row">
            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
            </div>
            <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
            </div>
    </div>
    <form method="POST" action="{{ url_for('register') }}"> 
        <div class="row">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}%" required>
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}%" required>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="Login">
        </div>
    </form> 
</div>
<div class="row">
    <p>Don't have an account?  Get one <a href="{{ url_for('register') }}">here</a>.</p>
</div>
 {% endblock %}