
{% extends "index.html" %}
 {% block content %}
 <h2>{{recipe.name}}</h2>
 <p>Nationality: {{recipe.nationality}}</p>
 <p>Cook time: {{recipe.cook_time}} hours</p>
 <h3>Ingredients:</h3>
 <ul>
     {% for ingredient in recipe.ingredients %}
     <li>{{ingredient}}</li>
    {% endfor %}     
</ul>
<h3>Method:</h3>
 <ol>
     {% for step in recipe.method %}
     <li>{{step}}</li>
     {% endfor %}     
</ol>
 <p>Description: {{recipe.description}}</p>
 <a href="{{  url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-primary" type="button" style="margin-left: 20px;">edit</a> 
{% endblock %}


