{% extends "index.html" %}
 {% block content %}
<div class="container section-padding">
    <div class="row">
      <div class="col-sm-12 col-md-6 text-center padding-right-zero">
        <div class="card1 margin-right-zero ingredients-card height-100">
            <div class="card-body height-100 indigo-dark-background white-text">
                <h4>Nationality</h4>
                <p>{{recipe.nationality}}</p>
                <h4>Cook time</h4> 
                <p>{{recipe.time}} hours</p>
                <h4>Ingredients</h4>
                <ul class="no-list-style no-padding">
                    {% for ingredient in recipe.ingredients %}
                       <li>{{ingredient}}</li>
                   {% endfor %}     
               </ul>
            </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 text-center padding-left-zero">
        <div class="card2 margin-left-zero text-center ingredients-card height-100">
            <div class="card-body height-100 indigo-dark-background white-text">
                <h4>Method</h4>
                <ol class="text-left">
                    {% for step in recipe.method %}
                    <li>{{step}}</li>
                    {% endfor %}     
               </ol>
               <h4>Liked by</h4>
               <ul class="no-margin no-list-style no-padding">
                   {% for liked in recipe.liked_by|unique %}
                       <li>{{liked}}</li>
                   {% endfor %}
                </ul>
                <div class="margin-top-15 margin-bottom-10">
                    {% if session.user %}
                    <a href="{{  url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-primary no-margin green-dark-background dark-green
                    -border" type="button" style="margin-left: 20px;">Edit</a>
                    <a href="{{  url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn btn-primary no-margin green-dark-background dark-green
                    -border" type="button" style="margin-left: 20px;">Delete</a>
                    <form method="POST" action="{{ url_for('like_recipe', recipe_id=recipe._id) }}" style="display: inline;">
                      <input class="btn btn-primary no-margin green-dark-background dark-green
                      -border" type="submit" style="margin-left: 20px;" value="Like">
                    </form>
                    {% endif %}
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}



