<div class="padding-bottom-10px">
    <div></div>
    <span style="width: {{number_width}};" class="inline-block">{{step}}{{number}}{{punct}}</span>
    <span class="mx-auto inline-block input-box-ingredients" style="width: {{input_span_width}};">
        <div></div>
        <div></div>
        <input type="text" class="form-control" name="ingredients" placeholder="Kosovan" value="{{ingredient}}"> 
    </span>
    <span class="top-level-secondary-ingredient-buttons" style="width: 50%;">
        <i type="button" class="btn btn-primary edit green-dark-background far fa-edit form-buttons"></i>
        <i type="button" class="fas fa-check btn btn-primary done green-dark-background form-buttons"></i>
        <i type="button" class="fas fa-trash-alt btn btn-primary dlt green-dark-background form-buttons"></i>
    </span>
</div>