<div class="padding-bottom-10px">
    <div></div>
    <span style="width: {{number_width}};" class="inline-block">{{step}}{{number}}{{punct}}</span>
    <span class="mx-auto inline-block input-box-ingredients" style="width: {{input_span_width}};">
        <div></div>
        <div></div>
        <input type="text" class="form-control" name="{{ingredients_or_method}}" placeholder="Turkish" value="{{ingredient}}"> 
    </span>
    <span class="top-level-secondary-ingredient-buttons">
        <i type="button" class="btn btn-primary {{edit_method_ingredient}} green-dark-background far fa-edit form-buttons" aria-label="button that allows the user to edit the input field"></i>
        <i type="button" class="fas fa-check btn btn-primary {{done_method_ingredient}} green-dark-background form-buttons" aria-label="button that prevents the user from editing the input field"></i>
        <i type="button" class="fas fa-trash-alt btn btn-primary {{delete_method_ingredient}} green-dark-background form-buttons" aria-label="button that deletes the selected input field"></i>
    </span>
</div>