
<div class="row">  
        <div class="col-md-6">
            <div></div>
            <span style="margin-right: 8px;">{{number}}.</span>
            <input type="text" class="form-control" name="ingredients" placeholder="Kosovan" value={{ingredient}}>
        </div>
        <div class="col-md-6 top-level-secondary-ingredient-buttons"> 
            <input type="button" class="btn btn-primary done" value="Done">
            <input type="button" class="btn btn-primary edit" value="Edit">
            <input type="button" class="btn btn-primary dlt" value="Delete">
        </div>
    </div>
